/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/.gitignore
/.idea/microservices.iml
/.idea/modules.xml
/.idea/vcs.xml
/api-gateway/node_modules/*
/api-gateway/.idea/*
/api-gateway/.vscode/*
/task-service/node_modules/*
/task-service/.idea/*
/task-service/.vscode/*
/user-service/node_modules/*
/user-service/.idea/*
/user-service/.vscode/*
/notifications-service/node_modules/*
/notifications-service/.idea/*
/notifications-service/.vscode/*
